body {
  font-family: arial, helvetica;
}

h3 {
  font-size: 1em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section1 {
  background-color: #5daa68;
  color: #faf1cf;
}
#section2 {
  background-color: #b89f5d;
  color: #5a7670;
}
#section3 {
  background-color: #3cbcc3;
  color: #dec79b;
}
#section4 {
  background-color: #cae7df;
  color: #f4abaa;
}

.fp-section {
  text-align: center;
}

/* .fp-controlArrow {
  margin: 0 2em 0 2em;
} */

button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.85em;
}
